    </div>
    <!-- /#wrapper -->
    
    <!-- jQuery -->
    <script src="sbadmin/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="sbadmin/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="sbadmin/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="sbadmin/vendor/raphael/raphael.min.js"></script>
    <script src="sbadmin/vendor/morrisjs/morris.min.js"></script>
    <script src="sbadmin/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="sbadmin/dist/js/sb-admin-2.js"></script>

</body>

</html>
